.dy-input-wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1083fe;
  padding: 4px  6px;
  margin-top: 20px;
  .iconfont {
    font-size: 20px;
    color:#888;
  }
  label {
    flex:1;
    padding: 0;
    margin-left: 8px;
  }
  input {
    display: block;
    width: 100%;
    box-sizing:border-box;
    padding-left: 8px;
    border: none;
    outline: none;
    -webkit-appearance: none;
  }
}
